body{
    font-family: Verdana, Geneva, sans-serif;
}
table{
    font-size: 20px;
    width: 80%;
    border: 15px solid #c3e4f5;
    border-top: 5px solid #c3e4f5;
    border-collapse: collapse;
    margin: 20px auto;
}

#finder{
    display: none;
    justify-content: center;
}
#find{

    font-size: 22px;
    line-height: 30px;
    padding-right: 30px;

}
#buttonFind{
    margin-left: 10px;
    font-size: 18px;
    width: 10%;
    line-height: 30px;
    border: none;
    background: #c3e4f5;
    font-weight: bold;
}

th{
    padding: 10px;
    background: #c3e4f5;
    border: none;
    border-bottom: 5px solid #c3e4f5;
}
td{
    border: none;
    border-bottom: 5px solid #c3e4f5;
    padding: 8px;
}
#close{
    display: none;
    width: 5%;
    line-height: 40px;
    border: none;
    background: #c3e4f5;
    font-size: 30px;
    margin-left: 10px;
}
#buttons{
    display: none;
    justify-content: center;

}
#previous, #next {
    font-size: 18px;
    width: 10%;
    line-height: 40px;
    border: none;
    background: #c3e4f5;
}
#previous{
    margin-right: 10px;
}

.table td {
    padding: 5px;
    border: none;
    border-bottom: 5px solid #F2F8F8;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 8px solid #c3e4f5;
    width: 40%;
    text-align: center;
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

}

.btn{
    margin: 15px;
    text-align: right;
    font-size: 17px;

}
#btn{
    border: none;
    background: #c3e4f5;
    padding: 10px
}
p{
    background-color: #c3e4f5;
    line-height: 27px;
    margin-left: 50px;
    margin-right: 50px;
}
.inputAdd{
    padding-left: 30px;
}
#aboutUsers{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.about {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 35px;
    border: 1px solid #888;
    width: 60%;
    font-size: 18px;
    white-space: break-spaces
}
#btnUserClose{
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 20px;
}
#buttonAdd{
    display: none;
}

#add {
    float: right;
    font-size: 18px;
    width: 10%;
    line-height: 40px;
    border: none;
    background: #c3e4f5;
}

.loading {

    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    /*font: 0/0 a;*/
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}